.showcase-container {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-box {
  text-align: center;
  margin-bottom: 40px;
}

.time-box h1 {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 2px;
}

.time-box h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ccc;
}

.poster-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.poster-strip {
  display: inline-flex;
  animation: scroll 40s linear infinite;
}

.poster {
  width: 180px;
  height: 260px;
  object-fit: cover;
  margin: 0 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.poster-container:hover .poster-strip {
  animation-play-state: paused;
}

.poster:hover {
  transform: scale(1.05);
  cursor: pointer;
}
